<nav class="mt-5">
  <div class="text-lg font-bold text-center">YOGIAN</div>
  <div
    class="max-w-screen-xl mx-auto px-4 py-3 flex justify-center items-center"
  >
    <ul class="flex gap-6 font-medium">
      <li>
        <a href="/" class="hover:text-gray-500 dark:hover:text-gray-300">
          Home
        </a>
      </li>
      <li>
        <a href="/project" class="hover:text-gray-500 dark:hover:text-gray-300">
          Project
        </a>
      </li>
      <li>
        <a href="/contact" class="hover:text-gray-500 dark:hover:text-gray-300">
          Contact
        </a>
      </li>
    </ul>
  </div>
</nav>
